html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2a9d8e;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

@media (min-width: 900px) {
  #body-bg {
    background: url("images/background.jpg") no-repeat right top fixed; 
  }
}

#body-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#body-color {
  color:#ebebeb;
}

p {
  font-size: 1.1em;
}

a:link {
  /* Applies to all unvisited links */
  text-decoration:  none;
}

.no-style {
  list-style-type: none;
  margin:0;
  padding:0;
}

.small-margin li {
  margin-top: 6px;
}

.white {
  color: #ffffff;
}

.white-link:hover {
  color: #373a48;
}

.yellow {
  color: #f6ca33;
}

.medium-space {
  margin-bottom: 3em;
}

.small-space {
  margin-bottom: 2em;
}

.xsmall-space {
  margin-bottom: 1em;
}

.xxsmall-space {
  margin-bottom: 0.5em;
}

.center {
  text-align: center;
}

.align-img {
  vertical-align: middle;
}

.headline {
  margin: 150px 50px 50px 50px;
  color: #ffffff;
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
  line-height: 1.3;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .headline {
    max-width: 40%;
  }
}

@media (max-width: 1200px) {
  .headline {
    max-width: 80%;
  }
}

.logo {
  width: 200px;
  margin: 50px;
}

.cta-big {
  margin: 150px 50px 50px 50px;
  min-width: 200px;
  background-color: #e76f51;
  color: #ffffff;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

@media (min-width: 600px) {
  .cta-big {
    padding: 10px 50px 10px 50px;
  }
}

@media (max-width: 600px) {
  .cta-big {
    padding: 4px 20px 4px 20px;
    font-size: 22px;
  }
}

.cta-big:hover {
  background-color: #c96045;
}

footer {
  margin-left: 20px;
}

.cta-small {
  min-width: 200px;
  padding: 4px 20px 4px 20px;
  background-color: #e9c46a;
  color: #373a48;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cta-small:hover {
  background-color: #caaa59;
}

@media (max-height: 850px) {
  .footer {
    height:200px;
    margin-top:50px;
  }
}

@media (min-height: 850px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
}

.content {
  padding: 10px 50px 50px 50px;
}